#all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 18px;
}

#info {
  position: relative;
  width: 400px;
}

#info > div {
  color: green;
}

#info > #left {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

#info > #right {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

#restart,
#pause,
#instructions {
  display: block;
  width: 100%;
  text-align: end;
  background: none;
  color: inherit;
  font: inherit;
  border: transparent;
  outline: transparent;
  padding: 0;
  cursor: pointer;
}

#restart:hover,
#pause:hover,
#instructions:hover {
  text-decoration: underline;
}

.disabled {
  cursor: auto !important;
  color: lightGrey !important;
}

.disabled:hover {
  text-decoration: none !important;
}

#main {
  position: relative;
  width: 400px;
  height: 400px;
  outline: 1px solid black;
}

.snake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: green;
}

#head {
  background: rgb(6, 89, 6);
}

#food {
  position: absolute;
  width: 10px;
  height: 10px;
  background: darkred;
}

#instruction-text {
  display: none;
  position: fixed;
  width: 400px;
  text-align: center;
}

#game-over {
  position: fixed;
  display: none;
  color: black;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(150, 200, 0, 0.1);
  text-align: center;
  font-size: 30px;
}
